@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #FABD04 1.84%, #fff 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #FABD04 -13.86%, #fff 99.55%);
  
  --color-bg: #202124;
  --color-footer : #323232;
  --color-blog: #42444b;
  --color-text: #ddbe81;
  --color-subtext: #ffc671;
}
